Random
.idea
.vscode
.DS_Store
cmake-build-debug
cmake-build-debug-coverage
cmake-build-release
Final Exams
*.pdf
*.a
*.out
*.adoc
*.zip
CSC115/L1/product
CSC115/L1/sum
CSC115/L1/Tutorial1-activity1
CSC115/L2/CtoF
CSC115/L2/Tutorial2-activity1
CSC115/L2/SDPQ
CSC115/L2/variables
CSC115/L3/Tutorial3-activity1-exercise-1
CSC115/L3/tutorial3-activity1-exercise-2
CSC115/L3/tutorial3-activity2-exercise1
CSC115/L3/tutorial3-activity2-exercise2
CSC115/L3/tutorial3-activity2-exercise3
*.docx
random

